%html
  %head
    %script{ src:"//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"}
    %script{ src:"//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"}
    %link{ rel:"stylesheet", href:"//netdna.bootstrapcdn.com/bootswatch/2.1.1/simplex/bootstrap.min.css"}  
  %body
    %h1.well Work log

    .container-fluid
      .row-fluid
        .span2
          = render_partial("sidebar")

        .span10
          = yield

