%html
  %head
    %script{ src:"/js/jquery-1.8.3.min.js"}
    %script{ src:"/js/bootstrap.js"}
    %link{ rel:"stylesheet", href:"/css/bootstrap.css"}  
  %body
    %h1.well Work log

    .container-fluid
      .row-fluid
        .span2
          = render_partial("sidebar")

        .span10
          = yield

