%ul.nav.nav-list
  %li.nav-header
    Toolbar
  %li 
    %a{ href:"/"} 
      %i.icon-home
      Home
  %li
    %a{ href:"/add/entry"}
      %i.icon-tasks
      New log entry
  %li
    %a{ href:"/add/todo"}
      %i.icon-edit
      New task to do
  %li
    %a{ href:"/add/type"}
      %i.icon-filter
      New type of task
  %li.nav-header
    Other tasks
  %li
    %a{ href:"/last_week"}
      %i.icon-calendar
      Review last week

